<mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
  <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle matTreeNodePadding="8px" matTreeNodePaddingIndent="16px">
    <button mat-button (click)="setRouteInIframe(node.route)">
      <mat-icon class="type-icon" [attr.aria-label]="node.type + 'icon'">
        {{ node.type === 'file' ? 'description' : 'folder' }}
      </mat-icon>
      {{node.name}}
    </button>
  </mat-tree-node>

  <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding="8px" matTreeNodePaddingIndent="16px">
    <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.name">
      <mat-icon class="mat-icon-rtl-mirror">
        {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
      </mat-icon>
    </button>

    <button mat-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.name">
      <mat-icon class="type-icon" [attr.aria-label]="node.type + 'icon'">
        {{ node.type === 'file' ? 'description' : 'folder' }}
      </mat-icon>
      {{node.name}}
    </button>

  </mat-tree-node>
</mat-tree>
