<article>
  <div class="card">
    <div class="card-body">
      <h1 class="card-title">{{ title }}</h1>
      <h6 *ngIf="subtitle" class="card-subtitle mb-2 text-muted">{{ subtitle }}</h6>
      <p *ngIf="teaser" class="card-text">{{ teaser }}</p>
    </div>
  </div>

  <div class="card card--component">
    <ng-content></ng-content>
  </div>

  <div class="card">
    <div class="card-body">
      <h6 class="card-title">API</h6>
      <table class="table table-sm">
        <thead>
          <tr>
            <th scope="col">property</th>
            <th scope="col">propType</th>
            <th scope="col">required</th>
            <th scope="col">default</th>
            <th scope="col">description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td colspan="2">Larry the Bird</td>
            <td>@twitter</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</article>
